{% extends "base.html"%}
{% block title%}
Лента погоды
{% endblock %}
{% block content %}

    <div class="card_list">
        <div class="card-container-wrapper">
            <div class="card-header">
                <h5>Погода для города {{ city_rus }}</h5>
            </div>
            <div class="card-container">
                {% for item in weather_list %}
                    {% include "includes/array_weather.html" %} 
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary" onclick="document.location='/'">Вернуться назад</button>
            </div>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    </div>
{% endblock %}


